.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: start;
  z-index: 3;

  @include vp-1199 {
    align-items: center;
    padding: 0;
    margin: 0;

    @include vp-767 {
      padding-top: 140px;
      padding-bottom: 145px;
    }
  }


  & h2 {
    margin: 0;
    max-width: 940px;
    font-size: 77px;
    line-height: 77px;
    font-weight: 800;

    @include vp-1199 {
      max-width: 689px;
      text-align: center;
      font-size: 56px;
      line-height: 56px;
      font-weight: 800;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      font-weight: 800;
    }
  }

  & p {
    margin: 0;
    margin-top: 23px;
    max-width: 460px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;

    @include vp-1199 {
      text-align: center;
      margin-top: 13px;
      max-width: 473px;
    }

    @include vp-767 {
      margin-top: 15px;
      max-width: 277px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.description__button {
  width: 180px;
  margin-top: 37px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $color-default-white;
  background-color: $color-navy-blue;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &:disabled {
    background-color: $color-nobel;
    color: $color-default-white;
  }

  @include vp-1199 {
    margin-top: 27px;
  }

  @include vp-767 {
    margin-top: 60px;
  }
}

.description__correction {
  display: flex;
  flex-wrap: wrap;
  margin-top: 134px;
  gap: 10px;


  @include vp-1199 {
    display: none;
  }


  & span {
    padding: 13px 19px;
    padding-left: 24px;
    border: 1px solid $color-white-05;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;


    & svg {
      position: relative;
      top: 2px;
      left: -5px;
    }
  }
}

.description__video {
  position: absolute;
  width: 482px;
  height: 317px;
  right: 0;
  top: 329px;
  z-index: 2;

  @include vp-1199 {
    position: relative;
    margin-top: 45px;
    margin-bottom: 115px;
    width: 442px;
    height: 300px;
    top: 0;
    left: 0;
  }

  @include vp-767 {
    display: none;
  }


  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe {
    width: 482px;
    height: 317px;
  }
}

.description__button-player {
  position: absolute;
  top: 131px;
  left: 213px;
  width: 56px;
  height: 56px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: $color-transparent;
  color: $color-default-white;

  @include vp-1199 {
    top: 122px;
    left: 193px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $color-default-white;
    border-radius: 50%;
    content: "";
  }

  & svg + svg {
    display: none;
  }

  @include hover-focus {
    outline: none;

    &::before {
      border: 1px solid $color-resolution-blue;
    }

    & svg {
      display: none;
    }

    & svg + svg {
      display: block;
    }
  }

  &:active {
    background-color: $color-resolution-blue;
    border-radius: 50%;

    svg {
      display: block;
    }

    svg + svg {
      display: none;
    }
  }

  &:disabled {
    svg {
      cursor: default;
      color: $color-navy-blue;
    }

    &::before {
      border: 1px solid $color-navy-blue-010;
    }
  }


  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-3px, -11px);
    cursor: pointer;
  }
}

.description__photo {
  position: absolute;
  right: 0;
  top: 187px;
  z-index: 2;

  @include vp-1199 {
    width: 442px;
    height: 365px;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 45px;
    margin-bottom: 50px;
  }

  @include vp-767 {
    display: none;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.description__music {
  position: absolute;
  bottom: 147px;
  right: 0;
  z-index: 2;

  @include vp-1199 {
    position: relative;
    right: 0;
    bottom: 0;
    width: 340px;
    height: 220px;
    margin-top: 45px;
    margin-bottom: 195px;
  }

  @include vp-767 {
    display: none;
  }
}
