.hero {
  position: relative;
  color: $color-default-white;

  & .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;

    @include vp-1199 {
      padding: 0 30px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  background-color: $color-resolution-blue;
}

.hero__slide {
  display: flex;
  position: relative;
  padding: 0;
  padding-top: 200px;
  padding-bottom: 56px;
  min-height: 800px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 212px;
    padding-bottom: 72px;
  }

  @include vp-767 {
    min-height: 576px;
    padding: 0;
  }
}

.hero__image {
  position: absolute;
  inset: 0;
  z-index: 1;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper {
  .hero__pagination {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: flex-end;
    bottom: 97px;
    right: -7px;
    left: 0;
    z-index: 1;
    gap: 12px;

    @include vp-1199 {
      justify-content: center;
      bottom: 40px;
      right: 0;
    }

    @include vp-767 {
      bottom: 48px;
    }


    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      opacity: 1;
      border: 1px solid $color-default-white;
      background-color: $color-transparent;

      &:hover {
        background-color: $color-white-05;
      }

      &:focus {
        outline: 2px solid $color-white-05;
      }

      &:active {
        background-color: $color-white-05;
      }

      @include vp-767 {
        width: 8px;
        height: 8px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $color-default-white;
    }
  }
}
