.hero {
  position: relative;
  color: $color-default-white;

  & .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;

    @include vp-1199 {
      padding: 0;
    }
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  background-color: $color-resolution-blue;
}

.hero__slide {
  display: flex;
  position: relative;
  padding: 0;
  padding-top: 200px;
  padding-bottom: 56px;
  min-height: 800px;
}

.hero__description {
  padding-right: 420px;
}

.hero__image {
  position: absolute;
  inset: 0;
  z-index: 1;

  & picture {

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.swiper {
  .hero__pagination {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: flex-end;
    bottom: 97px;
    right: 0;
    left: 0;
    z-index: 1;
    gap: 20px;
    cursor: pointer;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      opacity: 1;
      border: 1px solid $color-default-white;
      background-color: $color-transparent;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-default-white;
    }
  }
}
