.logotype {
  color: $color-default-white;

  &:hover{
    color: $color-resolution-blue;
  }
  &:focus {
    outline: 1px solid $color-default-white;
  }

  &:active {
    color: $color-white-05;
  }


  &--sitemap {
    color: $color-default-white;
    background-color: $color-navy-blue;
    padding: 70px 140px;
    padding-bottom: 20px;
  }
}


.logotype--is-opened {
  color: $color-elephant;

  &:focus {
    outline: 1px solid $color-elephant;
  }
  &:hover {
    color: $color-resolution-blue;
  }
  &:active {
    color: $color-navy-blue;
  }
}
