.navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  padding: 28px 10px;
  padding-bottom: 30px;
  justify-content: space-between;
  color: $color-default-white;
  background-color: $color-navy-blue;

  @include vp-1199 {
    position: relative;
    padding: 20px 45px;
  }

  @include vp-319 {

  }

}

.navigation__button-menu {
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;

  @include vp-1199 {
    display: flex;
  }

  @include vp-319 {

  }
}

.navigation__logo {
  padding: 14px 42px;
  padding-left: 41px;
  padding-bottom: 7px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 597px;
  gap: 11px;
  list-style: none;
  align-items: center;

  @include vp-1199 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  @include vp-319 {

  }

}

.navigation__list-item {
  margin: 0;
}

.navigation__list-link {
  padding: 10px 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-default-white;
}

.navigation__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & a {
    padding: 22px 10px;
    padding-top: 26px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: $color-default-white;
  }
}
